<!DOCTYPE html>
<html>
<head>
  <title>Meddle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-lg-2 col-sm-1">
    </div>
    <div class="col-lg-8 col-sm-10">
      <%= yield %>
    </div>
    <div class="col-lg-2 col-sm-1">
    </div>
  </div>
</body>
</html>
